<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>河南违章查询</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.chenglian.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>

    <key>Partner</key>
    <string>2088501566833063</string>
    <key>Seller</key>
    <string>chenglianshiye@yeah.net</string>
    <key>RSA private key</key>
    <string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALS8ErohdAbxj+vz4DdLksKlWi+s5yd3zCjx712emFQxEduPIm3eL1rlhtYtNEb9JfdevN3uVhWqUlzqEvkb484IRZ1DWK0pvf3vo0gXYDiaMKqxjQqPo21ByPNnvRsrxq6YkP1CoTT6w/MEV8ylaCfc7fHOgZle49Pn98Z2sub9AgMBAAECgYEArJUvOMe7GOpQqVqez4593RqybPYpYRnXPX4ROY+5HCQjTkp28P0KsTyeLiTKV8NiHr47kZ0GXPfgYFMwvOmx9C/pE6DDpNlAaWDEciQXDzBv9jAJRYgPS5qvfOSsY3Lc5lwnN+mECIwmziPW8FJHM7SgGbrd/XZCyaES8nItFU0CQQDgjuTXWUgCwUQL39Kx+qzeAAelGDeB97jyaGpPa7yaCo8UVt8iojmN7s90KdiyN3/4s3LpMcpAPJePUlvaacGnAkEAzgpcV0TaSSjrYeBZ/5xwEmBU9yVheD8TxD969gIM3mrr/WdGTg65Do+cuiANVPSjHUH54wa0+Z10j6wAFpQ+uwJATFPFrP0H4QfYHUEi2KQgBgV0k8U7eM2+64ZaPEyeeq2EHKG6jocdkQTPNujSYyFCOkKkmGb4HAV8bpbL6d1wmQJAJ+vF/HqwuKAfCzXG+km7RTQ5AjHR8tR15f5Our+m8qlQ1CZgbttXa8TTnxR6wM0tlYuk+SHhisPBQ90Vn0pV5QJAar0Ba8WIzh1Wf5YgAG+Is1j+kbaTx9ltA4pDgsUZB+HOVqpK8+9o1N2NlqzaBale+9iZqAskvjyO1IPGzFIDPQ==</string>
    <key>RSA public key</key>
    <string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCftc80o24VwSTYGsg29d4RfGafK0TXq2mIhx28u5wVST89h5yyhDMJ8kngZGWSGu/Q1iyVrm4V0FG1G5j7VwqGdCFs6Fk/IBU8puGVI/C9bhofqe7inKcydrQQ6Un5TMgMDeKk16oWY2GDVDAeNOD8gJrgrH4vFUVtjs61OmSu1wIDAQAB</string>
    
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
